<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Productos</title>

    <link href="../../images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href="../../css/bootstrap1.css?v=1.1" rel="stylesheet" type="text/css" />

    <!-- custom style -->
    <link href="../../css/ui1.css?v=1.1" rel="stylesheet" type="text/css" />
    <link href="../../css/responsive1.css?v=1.1" rel="stylesheet" />

    <!-- iconfont -->
    <link rel="stylesheet" href="../../fonts/material-icon/css/round.css" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <b class="screen-overlay"></b>

    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index-admin.html" class="brand-wrap">
                <img src="../../images/logoE.png" class="logo" alt="Logo de la empresa">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <!-- aside-top.// -->

        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" th:href="@{/home-admin/index}"> <i class="icon material-icons md-home"></i>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="listar-categorias.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categorias</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/home-admin/agregarCategorias}"> Agregar Categorias</a>
                        <a th:href="@{/home-admin/agregarSubCategorias}">Sub Categorias</a>
                        <a th:href="@{/home-admin/listarCategorias}">Listar Categorias</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="listar-productos.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Productos</span>
                    </a>
                    <div class="submenu">
                    	<a th:href="@{/home-admin/agregarProductos}">Agregar Productos</a>
                        <a th:href="@{/home-admin/pro-img}" >Productos - Imagenes</a>
                        <a th:href="@{/home-admin/pageProductos}">Listar Productos</a>
                        <a th:href="@{/home-admin/productosBloqueados}">Desbloquear Productos</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="listar-pedidos1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Pedidos</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/home-admin/listarPedidos}">Lista de Pedidos</a>
                        <!--  <a href="listar-pedidos2.html">Buscar Pedidos</a> -->
                        <a th:href="@{/home-admin/listarDetalles}">Pedidos Detalle</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Cuenta</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/home-admin/registrarEmpleados}">Registrar - Empleados</a>
                        <a th:href="@{/home-admin/listarEmpleados}">Listar Empleados</a>
                        <a th:href="@{/home-admin/listarClientes}">Listar Clientes</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="listar-marcas.html"> <i class="icon material-icons md-person"></i>
                        <span class="text">Marcas</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/home-admin/listarMarcas}">Agregar Marca</a>
                    </div>
                </li>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <!--<li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Configuraciones</span>
                    </a>
                    <div class="submenu">
                        <a href="editar-perfil.html">Configurar Perfil</a>
                        <a href="editar-sitio-web.html">Configurar Sitio Web</a>
                    </div>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="page-0-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
                -->
            </ul>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
           
        </header>
        <section class="content-main">

            <div class="content-header">
                <h2 class="content-title">Tabla de Productos </h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Agregar Nuevo</a>
                </div>
            </div>

            <div class="card mb-4">
                
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Codigo</th>
                                    <th>Producto</th>
                                    <th>Descripcion</th>
                                    <th>PrecioContado</th>
                                    <th>PrecioDiferido</th>
                                    <th>Color</th>
                                    <th>Estado</th>
                                    <th>Categoria</th>
                                    <th>Subcategoria</th>
                                    <th>Marca</th>
                                    <th class="text-end">Activar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each= "productosL: ${listarI}">
                                    <td th:text="${productosL.id}"></td>
                                    <td th:text="${productosL.codigo}"></td>
                                    <td th:text="${productosL.nombre}"></td>
                                    <td th:text="${productosL.descripcion}"></td>
                                    <td th:text="${productosL.precioC}"></td>
                                    <td th:text="${productosL.precioD}"></td>
                                    <td th:text="${productosL.color}"></td>
                                    <td  >
	                                    	<span th:if="${productosL.estado} eq 'I'" class="badge rounded-pill alert-danger">Inactivo</span>
    										<span th:if="${productosL.estado} eq 'A'" class="badge rounded-pill alert-success">Activo</span>
                                    	</td>
                                    <td th:text="${productosL.subcategoria.categoria.nombre}"></td>
                                    <td th:text="${productosL.subcategoria.nombre}"></td>
                                    <td th:text="${productosL.marca.nombre}"></td>
                                    
                                    <td class="text-end">
                                        <a th:href="@{/home-admin/activarProducto(id=${productosL.id})}" class="btn btn-success"><i class="fa fa-check-square" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive end // -->

                    <nav class="float-end mt-3" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </nav>

                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->


        </section>
        <!-- content-main end// -->
    </main>

    <script>
        if (localStorage.getItem("darkmode")) {
            var body_el = document.body;
            body_el.className += 'dark';
        }
    </script>

    <script src="../../js/jquery-3.5.0.min.js"></script>
    <script src="../../js/bootstrap1.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="../../js/script1.js?v=1.0"></script>

</body>

</html>